body {
    background: url(../img/grid.png);
}


@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
}

@media (min-width: 1200px) {
	.container {
        max-width: 1170px;
    }
	
}

@media (min-width: 768px) {
  .form-horizontal .control-label-left {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: left;
  }
}

.footer{
    padding: 15px 0;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
}

.alert-avatar{
    margin-top: 20px;
}

.topic-list-heading {
    margin: 0 0 10px;
}

.topic-list-heading a{
    font-size: 16px;
    color: #444;
}

.hot-topic a{
    color: #444;
}

.hot-topic-title{
    background: #f5f5f5;
}

.smallhr{
    margin: 5px 0;
}

.topic-comment a{
    color: #fff;
}

.panel-default .topic-detail-heading{
    background-color: #fff;
}

.topic-detail-heading h1{
    font-size: 24px;
    margin: 15px 0;
}

.topic-detail-heading img{
    width: 64px;
}

.panel-body p{
    word-break: break-all;
    word-wrap: break-word;
}

.panel-body p img{
    max-width: 100%;
    height: auto;
}

.nodes{
    margin: 3px;
}

.list-tnode{
    padding: 3px 8px;
}

.list-tnode .btn-default{
    border-color: #fff;
}

.topshow{
    background-color: #e6e6e6;
}

blockquote p {
    font-size: 14px;
    font-weight: normal;
}

.username{
    margin-left: 65px;
    margin-bottom: 25px;
    height: 48px;
    line-height: 48px;
    font-size: 20px;
}

.username a, .user-panel a{
    color: #444;
}

.user-panel a:hover{
    text-decoration: none;
}

.big-font{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.side-border{
    border-right:1px solid #ddd;
    border-left:1px solid #ddd;
}

.reply-foot{
	text-align: right;
}

.ji-bg-building{
	position:relative;
	background: url("../../static/img/JIbuilding.jpg") no-repeat center;
	opacity:0.2;
	filter: "alpha(opacity=20)";
	-ms-filter: "alpha(opacity=20)"; /* 旧版IE */
	background-size: 100%;
}

.ji-bg-text{
	position:absolute;
	padding-left: 7px;
	top: 0px;
}

/* Modified By AuroraZK*/
.navbar-default {
    background-color:#74abdb;
}

.navbar-default .navbar-brand {
    color: #000000;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
    color: #000000;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #3071a9;
}

.btn-primary:focus,
.btn-primary.focus {
   	background-color: #74abdb;
   	border-color: #74abdb;
}

.btn-primary:hover {
    background-color: #74abdb;
    border-color: #74abdb;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-color: #74abdb;
    border-color: #74abdb;
}

.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
    background-color: #74abdb;
    border-color: #75acdc;
}

.panel {
    border: 0px solid transparent;
    border-radius: 8px;
}
 
.panel-footer {
    background-color: #f5f5fc;
    border-top: 1px solid #f5f5fc;
}

.panel-default {
    border-color: transparent;
}

.panel-default > .panel-heading {
    color: #000000;
    background-color: #f5f5fc;
}